body {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  background: #87bfff;
  width: 100%;
  display: grid;
  justify-items: center;
}

section {
  background: whitesmoke;
}

.card {
  display: grid;
  padding: 0px 0px 20px 0px;
}
.card-item {
  width: 70%;
  justify-self: center;
  background: whitesmoke;
  margin-top: 20px;
  font-size: 1.5em;
  border: solid 2px #d9d9d9;
}

section {
  display: grid;
}

#general-project-description {
  width: 70%;
  justify-self: center;
}

.card-head {
  background: #8c8c8c;
  padding: 10px;
}

.card-body {
  padding: 0px 10px 10px 10px;
}

#general-project-description {
  font-size: 1.5em;
  padding: 0px 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  white-space: nowrap;
}

tbody tr:nth-child(odd) {
  background-color: #dddddd;
}

@media screen and (max-width: 480px) {
  body {
    background-color: pink;
  }

  .card-item {
    width: 90%;
    justify-self: center;
    background: whitesmoke;
    margin-top: 20px;
    font-size: 1.5em;
  }
}
